.container {
  position: relative;
  display: inline-block;
}

.game-container {
  position: absolute;
  display: flex;
  padding: 24px;
  width: 100%;
  gap: 12px;
  align-items: center;
}

.health-bar-container {
  position: relative;
  border: 4px solid white;
  width: 100%;
}

.health-bar {
  height: 30px;
  width: 100%;
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
}

.health-bar-background {
  background-color: red;
  height: 30px;
  width: 100%;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: black;
  font-size: 24px;
  border: 4px solid white;
  height: 75px;
  width: 100px;
  flex-shrink: 0;
}

.result {
  position: absolute;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
